{{ pillar['headers']['multiline'] }}
# m h dom mon dow
{% for job in config.jobs.job | selectattr('enable') %}
{%- if job.everynminute | to_bool %}
{%- set min = '*/' + job.minute | string %}
{%- else %}
{%- set min = job.minute | string %}
{%- endif %}
{%- if job.everynhour | to_bool %}
{%- set hour = '*/' + job.hour | string %}
{%- else %}
{%- set hour = job.hour | string %}
{%- endif %}
{%- if job.everyndayofmonth | to_bool %}
{%- set dom = '*/' + job.dayofmonth | string %}
{%- else %}
{%- set dom = job.dayofmonth | string %}
{%- endif %}
{{ min }} {{ hour }} {{ dom }} {{ job.month }} {{ job.dayofweek }}
{%- endfor %}
