Source: openmediavault-wakealarm
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3

Package: openmediavault-wakealarm
Architecture: all
Depends: openmediavault (>= 0.6.0.11), python-pip, ${misc:Depends}
Description: wakealarm plugin for OpenMediaVault.
