Source: openmediavault-wakealarm
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper ( >= 9 )
Standards-Version: 3.9.6

Package: openmediavault-wakealarm
Architecture: all
Depends: openmediavault (>= 3.0.67),
         python-croniter,
         ${misc:Depends}
Description: wakealarm plugin for OpenMediaVault.
 Schedule times to wake machine using wakealarm
