Source: openmediavault-wakealarm
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper ( >= 12 )
Standards-Version: 4.3.0

Package: openmediavault-wakealarm
Architecture: all
Depends: openmediavault (>= 6.0.2),
         python3-croniter,
         ${misc:Depends}
Description: wakealarm plugin for OpenMediaVault.
 Schedule times to wake machine using wakealarm
